<br/>
<div class="container">
    <div class="row">
        <div class="search-bar">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Search assessments by name..." 
                [(ngModel)]="searchTerm" 
                (input)="filterAssessments()"
               >
        </div>
        <p><strong>Search Text : {{searchTerm}}</strong> </p>
        <br/>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let a of arrAssessments" > 
            <app-assessment [assessmentDetail]="a"></app-assessment>
        </div>
    </div>
</div>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages()); let i = index">
            <a class="page-link" (click)="currentPage = i + 1" [class.active]="currentPage === (i + 1)">
                {{ i + 1 }}
            </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
            <a class="page-link" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>