

<div class="card assessment-card bg-success">
    <div class="card-body" [ngStyle]="{ 'background-color': !assessmentDetail.isActive ? 'grey' : ' bisque' }">
        <h5 class="card-title">{{ assessmentDetail.name }}</h5>
        
        <!-- Green badge for price 1000 -->
        <span *ngIf=" specialPrice > assessmentDetail.price" class="badge bg-success">Special Price ₹{{specialPrice}}</span>
        
        <p class="card-text">Date: {{ assessmentDetail.assessmentDate | date }}</p>
        <p class="card-text">Time: {{ assessmentDetail.assessmentTime }}</p>
        <button class="btn btn-outline-primary" (click)="toggleDetails()">
            {{ showDetails ? 'Hide Details' : 'Show Details' }}
        </button>

        <!-- Show details when the button is clicked -->
        <div *ngIf="showDetails" class="assessment-details">
            <h6>Faculty ID: {{ assessmentDetail.facultyId }}</h6>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let question of assessmentDetail.questions">
                    <strong>Q{{ question.id }}:</strong> {{ question.qText }}<br />

                    <ng-container *ngIf="question.qType === 'Objective'; else subjectiveTemplate">
                        <strong>Options:</strong> {{ question.options.join(', ') }}<br />
                        <strong>Answer:</strong> {{ question.answer }}<br />
                    </ng-container>

                    <!-- Only show for Subjective type -->
                    <ng-template #subjectiveTemplate>
                        <strong>Type:</strong> {{ question.qType }}
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</div>
<br/>